<<<<<<< HEAD
<footer>
    <div class="container">
        copyright
    </div> 
</footer>
=======
    <footer>
        <div class="container">
            copyright
        </div> 
    </footer>
>>>>>>> bbae9a0cca40ccd419ef7ecdc2ea2ce15d5f31bd
</html>