<%- include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="main-wrapper">
            <div class="side-container">
                <aside>
                    <header>Aside</header>
                    <nav>
                        
                    </nav>
                </aside>
            </div>
            <main>
                <article>
                    <header>
                        <h1>Compose</h1>
                    </header>
                    <section>
                        <form method="post">
                            <div class="mb-3">
                                <label>Title</label>
                                <input type="text" class="form-control" name="getTitle">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Content</label>
                                <textarea class="form-control" rows="3" name="getContent"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">submit</button>
                        </form>                      
                    </section>
                </article>
            </main>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
