<%- include('partials/header.ejs') %>
<body>
    <div class="max-height">
    <div class="container">
        <div class="main-wrapper">
            <main>
                <article>
                    <header>
                        <h1>Compose</h1>
                    </header>
                    <section>
                        <form method="post">
                            <input type="text" name="" id="">
                            <button type="submit">Publish</button>
                        </form>
                    </section>
                </article>
            </main>
        </div>
    </div>
</div>
</body>
<%- include('partials/footer.ejs') %>