<%- include('partials/header.ejs') %>
<body>
<<<<<<< HEAD
    <div class="max-height">
    <div class="container">
        <div class="main-wrapper">
=======
    <div class="container">
        <div class="main-wrapper">
            <div class="side-container">
                <aside>
                    <header>Aside</header>
                    <nav>
                        
                    </nav>
                </aside>
            </div>
>>>>>>> bbae9a0cca40ccd419ef7ecdc2ea2ce15d5f31bd
            <main>
                <article>
                    <header>
                        <h1>Contact Content</h1>
                    </header>
                    <section>
                        <p><%= contactContent %></p>
                    </section>
                </article>
            </main>
        </div>
    </div>
<<<<<<< HEAD
</div>
</body>
<%- include('partials/footer.ejs') %>
=======
</body>
<%- include('partials/footer.ejs') %>
>>>>>>> bbae9a0cca40ccd419ef7ecdc2ea2ce15d5f31bd
