<%- include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="main-wrapper">
            <div class="side-container">
                <aside>
                    <header>Aside</header>
                    <nav>
                        
                    </nav>
                </aside>
            </div>
            <main>
                <article>
                    <header>
                        <h1>Contact Content</h1>
                    </header>
                    <section>
                        <p><%= contactContent %></p>
                    </section>
                </article>
            </main>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
