<%- include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="main-wrapper">
            <div class="side-container">
                <aside>
                    <header>Aside</header>
                    <nav>
                        
                    </nav>
                </aside>
            </div>
            <main>
                <article>
                   <% postContent.forEach((post)=> { %>
                        <h1><%= post.title %></h1>
                        <p><%= post.content %></p>
                    <% }); %>
                   
                </article>
            </main>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
