:root {
  --max-width: 1440px;
  --color: white;
  --gutter: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-top: 1px solid black;
  height: 50px;
  flex-shrink: 0;
} 

a {
  color: black;
  text-decoration: none;
<<<<<<< HEAD
=======
}

.primary {
  color: blue;
}

a.primary:hover {
  color: blueviolet;
>>>>>>> 187ac899d5886e5e9088a6b59b465d5012153998
}

.container {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);

}

.main-header {
  
  position: sticky;
  top: 0;
  background-color: #fff; /* Adjust as needed */
  z-index: 100; /* Adjust as needed */
  margin-bottom: 2rem;
}

.top-navigation-wrap {
  
  border-bottom: 1px solid black;
  position: relative;
}

.top-navigation-main {
  height: 50px;
  align-items: center;
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  width: 100%;
}

.top-brand {
  width: 10%;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0 0;
  list-style: none;
  width: 100%;
  grid-gap: 1rem;
}

.extra-menu {
  display: flex;
  justify-content: space-between;
  align-items: end;
  grid-gap: 1rem;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 20px;
  grid-auto-flow: row;
  
}

<<<<<<< HEAD
aside {
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100vh;
}

main {
  flex-grow: 1;
  overflow-y: auto;
=======

.form-group {
  width: 100%;
>>>>>>> 187ac899d5886e5e9088a6b59b465d5012153998
}