:root {
  --max-width: 1440px;
  --color: white;
  --gutter: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  background-color: aqua;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header-bg {
  background-color: aquamarine;
}

.nav-height, .footer-height {
  height: 5rem;
}


.nav-link > a {
  margin-left: 1rem;
}

